/* style.css */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 2rem 0;
  position: relative; /* For overlay effect */
}

#carousel {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

#carousel img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#carousel img.active {
  opacity: 1;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #333;
}

p {
  color: #666;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
}

.journey {
  text-align: center;
  padding: 4rem 0;
}

.highlight-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.highlight {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.highlight:hover {
  transform: translateY(-5px);
}

.highlight i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
